.action {
  cursor: pointer;
}

.pending{
  background-color: #000;
}
.complete{
  background-color: green;
}

.pending-border{
  border: 1px solid #000;
}
.complete-border{
  border: 1px solid green;
}