.form-padding {
  padding: 30px;
}

.form-control:focus {
  border: 1px solid #0d6efd;
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  .container {
    margin: 20px;
  }

  .form-padding {
    padding: 20px;
  }
}
